.Rproj.user
.Rhistory
*.dmp
.Ruserdata
.DS_Store
*.fna
data/bac120_metadata_r232.tsv
data/gtdb_meta_data.csv
output/*
!output/*.csv
!output/raw_output_errors.rds
!output/cons.RData
tmp/*
output/alignments/*
data/bac120_metadata.tsv
data/bac120_taxonomy.tsv